<h1><%= @organization.name %></h1>
<p><%= @organization.description %></p>
<%= link_to @organization.address,
  "https://www.google.com/maps/search/?api=1&query=#{@organization.address.to_param}",
  target: '_blank'
%>

<ul>
  <% @organization.needs.each do |need| %>
    <li>
      <%= need.item %>
    </li>
  <% end %>
</ul>