<h1>Welcome</h1>

<p>
  You have been invited to create an account with My Brother's Keeper. Click
  the following link to finish setting up your account.
</p>

<%= link_to 'Finish setup', new_user_url(token: @token) %>
